[Unit]
Description=GMO Coin FX AutoTrade Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/Innovations/System

ExecStart=AutoTrade

Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

